@use '../custom' as *;
@use '../components/mixins' as *;
.text{
		font-family: ui-serif;
}
.bbbb{
	font-size: 1.5rem;
}
.order{

	.caard{ 
		h2{
			color: $brown;
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: bold;
		}
		.btn{
			
			width: 9rem;
			background-color: $reeed;
			span{
				color: $white;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1.2rem;
			}
		}
	}
}

